@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body{
    background-color: pink;
}

header{
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100px;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 16px;
}

li a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 10px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}


a:hover{
    background-color: tomato;

}

@media (max-width: 600px){
    .{
        color: white;
        height: 150px;
        width: 150px;
    }
}